body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50vh;
    height: 100vh;
  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5em;
  }
  
  .box:nth-child(odd) {
    background-color: #3498db;
  }
  
  .box:nth-child(even) {
    background-color: #2ecc71;
  }
  