body {
  font-family: 'Merriweather', serif;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 90vh);
  height: 100vh;
}

#firstBox {
  display: grid;
  grid-template-rows: minmax(50px, 1fr) repeat(3, auto) minmax(50px, 1fr);
  grid-template-columns: 1fr auto auto minmax(50px, 1fr) 1fr;
  gap: 10px; 
}

.content {
  font-size: 3em;
}

.content.mist3 {
  grid-area: 2 / 2 / 2 / 2 ;
  color: white;
}

.content.builds {
  grid-area: 3/ 3 / 3 / 3 ;
  color: white;
  justify-self: center;
  align-self: center;
}

.content.heart {
  grid-area: 3/ 4 / 3 / 4 ;
  color: white;
  margin-left: 25%;
}

.content.heart svg{
  grid-area: 3/ 4 / 3 / 4 ;
  justify-self: center;

}

#changingWord {
  font-size: 3em;
  grid-area: 4 / 4 / 4 / 4;
  color: #CCFF00;
  overflow: clip ;
  white-space: nowrap;
}

.box:first-child {
  background-color: black;
}

.box:nth-child(odd):not(:first-child) {
  background-color: #3498db;
}

.box:nth-child(even) {
  background-color: #2ecc71;
}




